*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.db-shm
*.db-wal
*.sqlite
*.txt
*.db-journal
*.log
*.db
*.backup
*.bkp
*.session
www/people/*.png

customize.yaml
automations.yaml
secrets.yaml
known_devices.yaml
ip_bans.yaml
google_calendars.yaml
plex.conf
.spotify-token-cache
.google.token
.uuid

temp
tts
backups
docs
lib
deps
tts
icloud
secrets
__pycache__
